doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title React on the Server

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 React on the Server
      section
        h2 Isomorphic JavaScript
      section
        h2 Iso-what's it?
      section
        h2 Back in the day.
        ul
          li Create HTML on the server
          li Enhance it a bit with JavaScript
      section
        h2 Then came Web 2.0
      section
        h2 The Rise of a Richer Experience
        ul
          li Backbone
          li Knockout
          li Angular
          li ...
      section
        h2 Great but...
      section
        img(src="images/groupon.png")
      section
        img(src="images/squarespace.png")
      section
        img(src="images/mcd.png")
      section
        img(src="images/corsa.png")
      section
        img(src="http://i.giphy.com/POsXkh6XRVBhC.gif")
      section
        h2 And also these happened
      section
        img(src="images/mobile-devices.jpg")
      section
        h2 What to do?
        ul
          li Continue being sucky?
          li Write it twice?
          li Abandon all hope?
      section
        h2 We want to send html to the browser
      section
        h2 But we still want rich interactive experiences
      section
        img(src="images/both.gif")
      section
        img(src="images/elvis-sinatra.gif")
      section
        h2 Enter React.js
      section
        h2 Well Actually
      section
        h2 React just made it easy
      section
        h2 How Easy?
      section
        pre
          code.language-javascript.
            React.renderToString(myReactElement);
      section
        h2 That Easy
        img(src="images/top.gif")
      section
        h2 Demo 1
        a(href="https://github.com/Kevnz/ss-react-node")
      section
        h2 Nice but I'm note using node.js
      section
        img(src="images/sadbat.gif")
      section
        img(src="images/obama-calm-down.gif")
      section
        h2.bullet <a href="https://github.com/reactjs">Enter React.js</a>
        ul
          li <a href="https://github.com/reactjs/React.NET">React.Net</a>
          li <a href="https://github.com/reactjs/react-php-v8js">react-php-v8js</a>
          li <a href="https://github.com/reactjs/react-rails">react-rails</a>
      section
        h2 Demo 2
        a(href="https://github.com/Kevnz/ReactJS.NET-getting-started-tutorial")
      section
        h2 Conclusions?
      section
        img(src="images/obama-dance.gif")
      section
        h2 Some Additional Resources
        ul
          li 
            a(href="https://github.com/voronianski/flux-comparison") Flux Comparisons
          li
            a(href="https://github.com/enaqx/awesome-react") Awesome React
          li
            a(href="http://react-components.com/") React Components
          li
            a(href="http://facebook.github.io/react/docs/tutorial.html") Getting Started Tutorial
      section
        h2 Thanks
        h4 Website Images from <a href="http://sighjavascript.tumblr.com/">Sigh javascript</a>
        h4 giphy images from giphy
    script(src='build/build.js')